html, body {
	font-size: 14px;
	font-family: Arial;
}

#chart_view {
	position: relative;
}

.chart-item {
	
	color: white;
	font-size: 16px;
	display: block;
	margin-bottom: 2px;
	white-space: nowrap;
}

.chart-item div {
	display: inline-block;
	height: 40px;
	background-color: grey;
	line-height: 40px;
	vertical-align: middle;
	overflow: hidden;
	margin-left: 2px;
}

.chart-pos, .chart-prev-pos {
	width: 40px;
	text-align: center;
}

.chart-artist, .chart-song {
	width: 200px;
	text-align:left;
	padding-left: 5px;

}

.chart-sales {
	width: 80px;
	text-align: center;
}

.chart-weeks {
	width: 60px;
	text-align: left;
	padding-left: 5px;
}

.chart-pp {
	width: 68px;
	text-align: left;
	padding: 0 5px;
}

.chart-run {
	text-align: left;
	padding: 0 5px;
	width: 500px;
	white-space: nowrap;
	overflow: hidden;
}
